body {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f7f4;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #6a9277;
    text-decoration: none;
}

a:hover {
    color: #3d5745;
}