body {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  background-color: #f8f7f4;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: x-large;
}

a {
  color: #6a9277;
  text-decoration: none;
}

a:hover {
  color: #3d5745;
}

footer {
  font-size: x-small;
  margin-top: 2rem;
  padding-top: 0.5rem;
  border-top: 1px solid #3d5745;
}